  *  {
    margin:0;
    padding: 0;

  }
  
  header{
    font-family: 'Roboto', sans-serif;
    color:white;
    background-color:#F78E69;
  }
 
  h1  {
    font-size:40px;
    padding: 10px;
    float: right;
  }

  h3  {
    font-size: 20px;
    padding: 4px;
    float: right;
  }

  

